@import '../../static/css/cal';

.Introduction{
  padding: 0 rem(30);
  .Ins-title{
    margin-bottom: rem(10);
  }
  li{
    @include font-dpr(13);
    margin-bottom: rem(15);
    color: $black;
  }
}