$base-size: 64;
@function rem($font-size){
  @return $font-size / $base-size * 1rem;
}
@mixin font-dpr($font-size){
  font-weight: 400;
  font-size: $font-size+px;
  [data-dpr="2"] & {
    font-size: $font-size * 2px;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 3px;
  }
}