@import './cal';
$red: rgb(248,62,30);
ul,li,ol{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
}
body,html,#root,#root>div{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  @include font-dpr(13);
  font-family: 'Arial';
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
}
input,button{
  border: none;
  outline: none;
}
.default-btn{
  cursor: pointer;
  text-align: center;
  color: white;
  padding: rem(10) 0;
  background-color: $red;
  border-radius: rem(5);
  width: 95%;
  margin: rem(20) 0;
  &:active{
    background-color: rgba($red,.8);
  }
}

.Ins-title{
  @include font-dpr(15);
  padding: rem(10) rem(20);
}

.noMore{
  text-align: center;
  color: #aaa;
  @include font-dpr(13);
}