@import "../../../static/css/cal";

#next-area{
  display: inline-block;
  position: relative;
  z-index: 5;
  width: 100%;
  padding-bottom: rem(50);
  .btn-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: rem(-80);
    text-align: center;
    img{
      margin-top: rem(10);
      cursor: pointer;
      width: rem(165);
    }
  }
}